profiles {
    cluster {
        process.executor = 'slurm'
        process.queue = 'kern'
        process.time = '1h'  // Set a default time limit for jobs
        process.mem = '4GB'  // Set a default memory limit for jobs
        
        // Customize Slurm log files
        process.clusterOptions = " --output=${launchDir}/slurm_logs/slurm-%j.out"
        process.clusterOptions += " --error=${launchDir}/slurm_logs/slurm-%j.err"
    }

    cluster_gpu {
        process.executor = 'slurm'
        process.queue = 'kerngpu'
        process.time = '1h'  // Set a default time limit for jobs
        process.mem = '4GB'  // Set a default memory limit for jobs
        
        // Customize Slurm log files
        process.clusterOptions = " --output=${launchDir}/slurm_logs/slurm-%j.out"
        process.clusterOptions += " --error=${launchDir}/slurm_logs/slurm-%j.err"
        process.clusterOptions += " --gres=gpu:1"
    }
}